###   MySQL Tenant A Settings - "tenant_a"
###

app:
  datasource:
    first:
        url: jdbc:mysql://127.0.0.1/tenant_a?useSSL=false
        platform: mysql
        username: devuser
        password: devuser1
        connection-test-query: SELECT 1
        minimum-idle: 5
        idle-timeout: 30000
        pool-name: TenantA_HCP
        maximum-pool-size: 20
        max-lifetime: 2000000
        connection-timeout: 60000

###   MySQL Tenant B Settings - "tenant_b"
###
    second:
      url: jdbc:mysql://127.0.0.1/tenant_b?useSSL=false
      platform: mysql
      username: devuser
      password: devuser1
      
###   MySQL Tenant C Settings - "tenant_c"
###

    third:
      url: jdbc:mysql://127.0.0.1/tenant_c?useSSL=false
      platform: mysql
      username: devuser
      password: devuser1